<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
</head>
<body>

    <h1>{{authors.first_name}} {{authors.last_name}}</h1><br>
    <h2>ID.{{authors.id}}</h2>
    <h2>Notes: {{authors.notas}}</h2>
    <h2>Books:</h2>
    {% for book in books %}
        <li>{{book.title}}</li>
    {% endfor %}

    <br>

    <form method="POST" action='/add_libro'>
        {% csrf_token %}
        <select name="libro">
            {% for book in books_complete %}
                <option value={{book.id}}>{{book.title}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="select" value={{authors.id}}>
        <button  name="add_book" value={{books_complete.id}} type='submit'>Add</button>
    </form>


</body>
</html>